@media only screen and (max-width: 500px) {
 
  .navbar{

    flex-direction: row;
    width: 100%;
    height: 65px;
    margin: 0px;
    background:rgb(235,189,141);
    z-index: 1;
    

  }

  main{

   position: static;
   max-width: 80%;
   width: 90%;
   margin: 0px auto;

  }

  body{

    margin: 0px;
    flex-direction: column;

  }

  aside{

    position: static;
    margin: 90px auto 65%;
    min-width: 95%;
    max-width: 95%;
    padding-bottom: 145px;

  }

}