aside{

  min-width: 316px;
  max-width: 316px;
  max-height: 399px;
  
  margin-left: 90px;
  margin-right: 20px;;
  background: black;
  padding-bottom: 125px;
  
  border-radius: 15px;
  
  position: fixed;
  
  font-family: 'Gafata', sans-serif;
  font-size: 1.1em;
  
  }
  
  #inset{
  
    width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 15px;
    
  }
  
  #profile{
  
    /*max-width: 111px  ;*/
    width: 35%;
    margin: 0px auto;
    display: block;
    border-radius: 50%;
    border: 4px solid #EBBD8D;
    padding: 13px;
    position: relative;
    bottom: 40px;
    background-color: black;
    
  }
  
  aside h1{
  
  text-align: center;
  color: #FAFADA;
  margin-top: 0px;
  position: relative;
  bottom: 20px;
  
  }
  
  aside nav{
     
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    bottom: 30px;
  
  }
  
  aside nav a{
  
    margin: 0px 2%;
  
  }
  
  .icon1{
  
    filter: invert(93%) sepia(4%) saturate(1577%) hue-rotate(26deg) brightness(114%) contrast(96%);
    width: 15px;
  
  }