/* global styles */
@import "./global.css";

/* components */
@import "./navbar.css";
@import "./form.css";
@import "./profilecard.css";

/* screen sizes */
@import "./mobile.css";
@import "./tablet.css";